@font-face {
  font-family: INK;
  src: url(FONTS/Jackpot.ttf);     
}
@font-face {
	font-family: body;
  src: url(FONTS/CoffeCake.ttf);
}
.Title{
	background-image:url(BACKGROUND.jpg);
	background-size:77%;
	padding: 60px 0px 60px 0px;
	margin:0px 100px 0px 100px;
	border-radius:50px;
	border: 5px rgba(178, 178, 178, 0.9)solid;
}
#title{
	font-size:35px;
	font-family:INK;
	margin-top:-30px;
	
	
}
body{
	Background-color:#008F13;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:scroll;
}


.home{
  background-color: #ffffffff;
  color: #0000000;
  border: 3px solid black;
  border-radius:20px;
  transition: transform 0.3s, box-shadow 0.3s;
  float:left;
  padding:5px 10px 5px 10px;
  margin-left:-75px;
  margin-top:-15px;
  font-size:15px;
  font-family:INK;
	
}

.home:hover {
  transform: translateY(-5px);
  box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
}
.EXP{
  background-color: #ffffffff;
  color: #0000000;
  border: 3px solid black;
  border-radius:20px;
  transition: transform 0.3s, box-shadow 0.3s;
  float:left;
  margin-top:-15px;
  padding:5px 10px 5px 10px;
  font-size:15px;
  font-family:INK;
	
}

.EXP:hover {
  transform: translateY(-5px);
  box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
}
.students{
  background-color: #ffffffff;
  color: #0000000;
  border: 3px solid black;
  border-radius:20px;
  transition: transform 0.3s, box-shadow 0.3s;
  float:left;
  margin-top:-15px;
  padding:5px 10px 5px 10px;
  font-size:15px;
  font-family:INK;
	
}

.students:hover {
  transform: translateY(-5px);
  box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
}
.teachers{
  background-color: #ffffffff;
  color: #0000000;
  border: 3px solid black;
  border-radius:20px;
  transition: transform 0.3s, box-shadow 0.3s;
  float:left;
  margin-top:-15px;
  padding:5px 10px 5px 10px;
  font-size:15px;
  font-family:INK;
	
}

.teachers:hover {
  transform: translateY(-5px);
  box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
}
.environment{
  background-color: #ffffffff;
  color: #0000000;
  border: 3px solid black;
  border-radius:20px;
  transition: transform 0.3s, box-shadow 0.3s;
  float:left;
  margin-top:-15px;
  padding:5px 10px 5px 10px;
  font-size:15px;
  font-family:INK;
	
}

.environment:hover {
  transform: translateY(-5px);
  box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.3);
}
#LOGO {
	float:left;
	margin-top:-160px;
	margin-left: -150px;
	height:40%;
	width:40%;
}
.body-home{
	background-image:url(BACKGROUND.jpg);
	background-size:77%;
	padding: 60px 0px 60px 0px;
	margin:25px 100px 0px 100px;
	border-radius:50px;
	border: 5px rgba(178, 178, 178, 0.9)solid;
}
.about {
	font-family: INK;
	margin:25px 350px 0px 350px;
	border-radius:50px;
	border: 5px solid red;
	font-size:50px;
}
.body{
	font-family:body;
	font-size: 40px;
	letter-spacing:2px;
	margin: 50px 150px 50px 150px;
}
.website-info{
	font-family: INK;
	margin:25px 350px 0px 350px;
	border-radius:50px;
	border: 5px solid red;
	font-size:50px;
}
#info{
	font-family:body;
	font-size: 40px;
	letter-spacing:2px;
	margin: 50px 150px 50px 150px;
}
.TSC{
	border-radius:100px;
	border:5px #008F13 solid;
}
.founders{
	font-family: INK;
	margin:25px 350px 0px 350px;
	border-radius:50px;
	border: 5px solid red;
	font-size:50px;
}
#founders{
	font-family:body;
	font-size: 40px;
	letter-spacing:2px;
	margin: 50px 150px 50px 150px;
}